<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simply Do - Currencies</title>
  <link rel="stylesheet" href="css/default.css"/>
  <style type="text/css">
    ul {margin: 0;}
    li {list-style: none;}
    table {border: 0;}
  </style>

</head>
<body ng-controller="currencyCrtl">
  <!--div id="top">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="social-buttons cf">
            <li><a href="http://twitter.com/share" class="socialite twitter-share" data-text="Converting Currencies in real time with Simply Do Currencies." data-url="http://simplydo.com/currencies" data-count="vertical" data-via="simplydothat" rel="nofollow" target="_blank"><span class="vhidden">Twitter</span></a></li>
            <li><a href="https://plus.google.com/share?url=http://simplydo.com/currencies" class="socialite googleplus-one" data-size="tall" data-href="http://simplydo.com/currencies" rel="nofollow" target="_blank"><span class="vhidden">Google+</span></a></li>
            <li><a href="http://www.facebook.com/sharer.php?u=http://simplydo.com/currencies&amp;t=Simply%20Do%20Currencies" class="socialite facebook-like" data-href="http://simplydo.com/currencies" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Facebook</span></a></li>
          </ul>
          <h1>Currencies</h1>
          <p>Enter multiple balances in different currencies and convert them all at once. In real time.</p>
        </div>
      </div>
    </div>
  </div-->

  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>From</h2>
        <table>
          <tr ng-repeat="balance in balances">
            <td><input type="text" ng-model="balance.amount" placeholder="Amount..." class="span2"/></td>
            <td><select class="span3" ng-model='balance.exchangeRate' ng-options="getCurrencyNameFull(symbol) for (symbol, rate) in exchangeRates.rates">
              <option value="">Select currency...</option>
            </select></td>
            <td><a class="" ng-click="removeBalance($index);"><span class="icon-remove"></span></a></td>
          </tr>
        </table>
        <p>
          <button class="btn btn-primary" ng-click="addBalance();"><i class="icon-plus icon-white"></i> Add another</button>
        </p>

        <h2>Convert to</h2>
        <table>
          <tr>
            <td>
              <select class="span3" ng-model='rates' ng-options="getCurrencyNameFull(symbol) for (symbol, rate) in exchangeRates.rates">
                <option value="">Select currency...</option>
              </select>
            </td>
            <td>{{roundDown(convertBaseValueToCurrencyValue(totalBalance(),rates))}}</td>
          </tr>
        </table>

        <p class="note">Exchange Rates were last updated {{ageOfExchangeRate()}} ago.<br />Data powered by <a href="http://openexchangerates.org/" target="new">open exchange rates</a>.<br />See terms and disclaimer below.</p>

      </div>
      <!--div class="span6">
        <h2>Your total in pretty much every currency</h2>
        <table class="table table-striped"> 
          <tr ng-repeat="(currency, rate) in exchangeRates.rates">
            <td>{{getCurrencyName(currency)}}</td>
            <td>{{currency}}</td>
            <td class="number">{{roundDown(convertBaseValueToCurrencyValue(totalBalance(),rate))}}</td>
          </tr>
        </table>

      </div-->
    </div>
  </div>

  <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span3">
            <ul class="unstyled">
              <li>Originated by <a href="http://simplydo.com" target="new">Simply Do</a>, LLC. </li>
              <li>Modified by Nguyen Phan Hai (<a href="http://twitter.com/hai_np">@hai_np</a>)</li>
              <li>Published under GPL v3</li>
            </ul>
          </div>
          <div class="span6">
            <ul class="unstyled">
              <li>Exchange rates powered by <a href="http://openexchangerates.org/" target="new">open exchange rates</a>:</li>
              <li>
                <strong>Disclaimer:</strong> {{exchangeRates.disclaimer}}
              </li>
              <li>
                <strong>License:</strong> {{exchangeRates.license}}
              </li>
            </ul>
          </div>
          
        </div>

      </div>  
    </div> 

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/socialite/socialite.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <!--script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29523960-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script-->


</body>
</html>
